body {
    background-color: #222222;
    font-family: "Segoe UI";
    color: lightblue;
}
#masthead {
    color: #eaf2f5;
    background: linear-gradient(#000000, #222222);
    font-family: Helvetica;
}
thead {
    background: linear-gradient(#000000, #222222);
    text-transform: uppercase;
}
.datagrid {
    color: #ffffff;
    font-size: small;
    width: 400px;
    border-collapse: collapse;
    display: inline-table;
    float: left;
}
.datagrid tbody tr:nth-child(odd) {
    background: #343434;
}
.datagrid tbody tr:nth-child(even) {
    background: #555555;
}
td {
    vertical-align: top;
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    background-color: #dddddd;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #0086b3;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */




a {
    color: #8add6d;
}
a:visited {
    color: #339900;
}
a:hover {
    color: #b9dcac;
    text-decoration: none;
}